# Puerto del servidor (en Render se asigna automáticamente, localmente usa 8080)
PORT=8080

# URL del Frontend para permitir CORS (Cross-Origin Resource Sharing)
FRONTEND_URL=https://fintrack-six-opal.vercel.app

# Cadena de conexión a PostgreSQL en Supabase (Pooler IPv4 recomendado):
DATABASE_URL="host=aws-0-us-east-2.pooler.supabase.com user=postgres.tjloylnetfaefuoyfwxy password=[TU_PASSWORD] dbname=postgres port=5432 sslmode=require"

# Supabase Auth Settings
SUPABASE_URL=https://tjloylnetfaefuoyfwxy.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqbG95bG5ldGZhZWZ1b3lmd3h5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyMjgyNDEsImV4cCI6MjEwNDgwNDI0MX0.m37ei41UitZJ5J7EMrokNQnFy4sezNkqEkGuj1Mu_Ho

# Opcional pero recomendado para verificación local instantánea de tokens sin llamadas HTTP:
# SUPABASE_JWT_SECRET=tu_jwt_secret_aqui
