# FinTrack Mobile Environment Configuration
EXPO_PUBLIC_SUPABASE_URL=https://tjloylnetfaefuoyfwxy.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqbG95bG5ldGZhZWZ1b3lmd3h5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyMjgyNDEsImV4cCI6MjEwNDgwNDI0MX0.m37ei41UitZJ5J7EMrokNQnFy4sezNkqEkGuj1Mu_Ho

# URL del backend en producción (Render) o desarrollo local (http://10.0.2.2:8080 en emulador Android o tu IP local)
EXPO_PUBLIC_API_URL=https://fintrack-ihwb.onrender.com
